.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  max-width: 250px; 
  margin: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #000000d6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  max-height: 180px; 
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #00c8ff;
}
.product-card h3 {
  font-size: 1.1em;
  color: #ffffff;
  margin-bottom: 8px;
  min-height: 40px; 
}

.product-card p {
  font-size: 1.2em;
  color: #007bff; 
  font-weight: bold;
  margin-bottom: 15px;
}

.product-card button {
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease-in-out;
  width: 100%; 
}

.product-card button:hover {
  background-color: #ffea00;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}