.home-container {
  background: linear-gradient(120deg, #a18cd1, #fbc2eb);
  height: 90vh;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 span {
  color: #4b0082;
}

.main-bg {
  background: linear-gradient(120deg, #a18cd1, #fbc2eb);
}